@model List<ShiftDateVM>
<div class="col-8 pt-5">
    <div class="container pt-5">
        <div class="card-header">
            <h4 class="font-weight-bold text-primary text-center">
                <img src="~/Dashboard/public/assets/img/icons/vacation.png" style="width:32px; height:32px;" />
                Vardiyalarım
            </h4>
        </div>
        <table class="m-0 table border-left-warning table-bordered dataTable" id="dataTable" style="overflow-y:scroll">
            <thead>
                <tr role="row" class="border-bottom-warning">
                    <th class="border-bottom-warning" style="width: 67px; height:10px; " colspan="1">Personel Adı</th>
                    <th class="border-bottom-warning" style="width: 67px; height: 10px;">Vardiya Başlangıç Tarihi</th>
                    <th class="border-bottom-warning" style="width: 67px; height: 10px;">Vardiya Başlangıç Zamanı</th>
                    <th class="border-bottom-warning" style="width: 67px; height: 10px;">Mola Başlangıç Saati</th>
                    <th class="border-bottom-warning" style="width: 67px; height: 10px;">Mola Bitiş Saati</th>
                    <th class="border-bottom-warning" style="width: 67px; height: 10px;">Vardiya Bitiş Saati</th>
                    <th class="border-bottom-warning" style="width: 67px; height: 10px;">Vardiya Bitiş Tarihi</th>

                    
                </tr>
            </thead>
            <tbody>
                @foreach (ShiftDateVM item in Model)
                {
                <tr class="border-bottom-warning">
                    <td>@item.FullName</td>
                    <td>@item.ShiftStartTime.ToShortDateString()</td>
                    <td>@item.ShiftStartTime.ToShortTimeString()</td>
                    <td>@item.RespiteStartTime.ToShortTimeString()</td>
                    <td>@item.RespiteFinishTime.ToShortTimeString()</td>
                    <td>@item.ShiftFinishTime.ToShortTimeString()</td>
                    <td>@item.ShiftFinishTime.ToShortDateString()</td>


                    <td>1 Gün</td>
                </tr>
                }


            </tbody>
        </table>
    </div>
