@model List<DebitVM>

<div asp-validation-summary="All"></div>
<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>İsim Soyisim</th>
                <th>Zimmet Adı</th>
                <th>Zimmet Tarihi</th>
                <th>Onay Durumu</th>
                <th>Detay</th>
                <th>Red Sebebi</th>
                <th>Sil</th>


            </tr>
        </thead>
        <tbody>
            @foreach (DebitVM debitVM in Model)
            {
                <tr>
                    <td>@debitVM.EmployeeName</td>
                    <td>@debitVM.DebitName</td>
                    <td>@debitVM.StartedDate</td>
                    <td class="text-center>
                        @if (debitVM.IsAproved == null)
                        {
                            <i class="fas fa-clock"></i>

                        }
                        else if (debitVM.IsAproved == true)
                        {
                            <i class="fas fa-check-circle"></i>
                        }
                        else
                        {
                            <i class="fas fa-times-circle"></i>
                        }
                    </td>
                    <td>@debitVM.Details</td>
                    <td>@debitVM.DescofRejec</td>
                    <td class="text-center">
                        <a class="btn btn-outline-danger" href="#">
                            <i class="fas fa-trash"></i>
                        </a>

                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>