@model List<Employee>
<div asp-validation-summary="All"></div>
<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>İsim Soyisim</th>
                <th>Statü</th>
                <th>Mail</th>
                <th>Doğum Tarihi</th>
                <th>İşe Başlama Tarihi</th>
                <th>Özlük Belgeleri</th>
                <th>Güncelle/Sil</th>
                <th>Aktif</th>

            </tr>
        </thead>
        <tbody>
            @foreach (Employee employee in Model)
            {
                <tr>
                    <td>@employee.FullName</td>
                    <td>@employee.Status</td>
                    <td>@employee.Email</td>
                    <td>@employee.BirthDay.Date.ToShortDateString()</td>
                    <td>@employee.StartDate.ToShortDateString()</td>
                    <td class="text-center">
                        <a class="btn btn-outline-warning" href="#">
                            <i class="far fa-folder"></i>
                        </a>

                    </td>
                    <td>
                        <a asp-controller="Manager" asp-action="EditPersonal" asp-route-id="@employee.EmployeeId" class="btn btn-outline-primary">
                            <i class="fas fa-user-edit"></i>
                        </a>
                        <a asp-controller="Manager" asp-action="DeleteEmployee" asp-route-id="@employee.EmployeeId" class="btn btn-outline-danger">
                            <i class="fas fa-user-minus"></i>
                        </a>
                    </td>
                    <td>
                        @if (employee.IsActive)
                        {
                            <a class="btn btn-success">
                                <i class="far fa-check-circle"></i>
                            </a>
                        }
                        else
                        {
                            <a class="btn btn-danger">
                                <i class="fas fa-ban"></i>
                            </a>

                        }
                    </td>
                </tr>
                
            }
        </tbody>
    </table>
</div>
